Supervisory App C#/NodeRed & MQTT/NodeRed/NodeRed2.txt
[
    {
        "id": "6b1f12f3.191f1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4bd3fbe.c47a4",
        "type": "mqtt in",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 910,
        "y": 200,
        "wires": [
            [
                "7ee63b83.09ac14",
                "708f110b.8d1bd",
                "5cb56073.fef01"
            ]
        ]
    },
    {
        "id": "7ee63b83.09ac14",
        "type": "ui_gauge",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "9a301a5a.124af8",
        "type": "ui_text",
        "z": "6b1f12f3.191f1c",
        "group": "f43e8cf.a6a437",
        "order": 31,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "6fc1a4c5.f0457c",
        "type": "mqtt in",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/log",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "9a301a5a.124af8"
            ]
        ]
    },
    {
        "id": "708f110b.8d1bd",
        "type": "debug",
        "z": "6b1f12f3.191f1c",
        "name": "debug mode",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "da22d38a.feb12",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg1",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message one, bla bla\",\"confirm\":1}",
        "payloadType": "json",
        "x": 430,
        "y": 940,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "2b788904.7ec536",
        "type": "function",
        "z": "6b1f12f3.191f1c",
        "name": "add ts",
        "func": "js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "8b7182c0.b093f"
            ]
        ]
    },
    {
        "id": "2f7ecfbd.1a5c5",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message two, blip bloep\",\"confirm\":1}",
        "payloadType": "json",
        "x": 430,
        "y": 980,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "ff1003f6.2d7e8",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg3",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message three, cat fish\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "f9f81e53.337c",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg4",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message four, send it !\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "d2059baa.0904e8",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg5",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message five, my crazy\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1100,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "3565503d.fc1ac",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg6",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message six, whoop whoop !\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "682f9d1f.361ac4",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg7",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message seven\",\"confirm\":1}",
        "payloadType": "json",
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "450a1231.3cd93c",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg8",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 8, whats up monkey?\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "2748e415.b3b28c",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg9",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 9, fly away\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "32a154a2.9485fc",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg10",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 10, diving for gold\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "de672d97.3ec88",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg11",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 11, flying fish\",\"confirm\":1}",
        "payloadType": "json",
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "f7b7b636.ebbae8",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg12",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 12, octopus\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "3d7c8a2a.1a8e26",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg13",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 13, swim away\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1420,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "7f33296c.71ad08",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg14",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 14, warra warra\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1460,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "1cdb8cbe.0b41f3",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "msg15",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"msg\":\"Message 15, fish paste\",\"confirm\":0}",
        "payloadType": "json",
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "2b788904.7ec536"
            ]
        ]
    },
    {
        "id": "62f31202.d4192c",
        "type": "template",
        "z": "6b1f12f3.191f1c",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Message</th>\n        <th>Confirm</th>\n        <th>Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td>            \n            <td>{{confirm}}</td>\n            <td>{{timedate}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "899ce7ef.deefc8"
            ]
        ]
    },
    {
        "id": "899ce7ef.deefc8",
        "type": "ui_template",
        "z": "6b1f12f3.191f1c",
        "d": true,
        "group": "f43e8cf.a6a437",
        "name": "Scrolling Messages",
        "order": 37,
        "width": 23,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1270,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "8b7182c0.b093f",
        "type": "function",
        "z": "6b1f12f3.191f1c",
        "name": "Cr/Upd msg_events",
        "func": "var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "9c24cc4c.b76e4"
            ]
        ]
    },
    {
        "id": "606ce0a.d14e12",
        "type": "function",
        "z": "6b1f12f3.191f1c",
        "name": "zap msg_events flow context",
        "func": "var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "4cf26783.bde978",
        "type": "inject",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "606ce0a.d14e12"
            ]
        ]
    },
    {
        "id": "f6ff3f78.2067f",
        "type": "function",
        "z": "6b1f12f3.191f1c",
        "name": "topic & 10",
        "func": "var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'The Last Ten Messages :';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1160,
        "wires": [
            [
                "62f31202.d4192c"
            ]
        ]
    },
    {
        "id": "9c24cc4c.b76e4",
        "type": "change",
        "z": "6b1f12f3.191f1c",
        "name": "sort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1160,
        "wires": [
            [
                "4f773a4c.0a8124",
                "f6ff3f78.2067f"
            ]
        ]
    },
    {
        "id": "4f773a4c.0a8124",
        "type": "debug",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d6a7620c.1354",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "94169e1b.f8fe6"
            ]
        ]
    },
    {
        "id": "94169e1b.f8fe6",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button1",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c06a2fe.32f87e",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "ee23f895.431d08"
            ]
        ]
    },
    {
        "id": "46d431de.41de4",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "83b236f7.a08dd8"
            ]
        ]
    },
    {
        "id": "1dda58ce.f412c7",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 21,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "439e1c5c.dc2b84"
            ]
        ]
    },
    {
        "id": "329c04d3.f1e47c",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 23,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "81e06684.1677e8"
            ]
        ]
    },
    {
        "id": "86a71154.3c0eb",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 25,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "284e2fd5.3819f"
            ]
        ]
    },
    {
        "id": "b2b8980d.54f6c8",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 27,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "d04ce2f3.f5b21"
            ]
        ]
    },
    {
        "id": "16039245.21fede",
        "type": "ui_button",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 29,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "button 8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "b554629a.f852b"
            ]
        ]
    },
    {
        "id": "ee23f895.431d08",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button2",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "83b236f7.a08dd8",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button3",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "439e1c5c.dc2b84",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button4",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "81e06684.1677e8",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button5",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "284e2fd5.3819f",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button6",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 460,
        "wires": []
    },
    {
        "id": "d04ce2f3.f5b21",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button7",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "b554629a.f852b",
        "type": "mqtt out",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "topic": "esp/bme680/button8",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "5cb56073.fef01",
        "type": "ui_chart",
        "z": "6b1f12f3.191f1c",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "10",
        "ymax": "30",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1110,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e527a9d8.00fb78",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f43e8cf.a6a437",
        "type": "ui_group",
        "name": "BME680",
        "tab": "7c82c8.616a9d38",
        "order": 1,
        "disp": true,
        "width": 23,
        "collapse": false
    },
    {
        "id": "9c87fa77.2389a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c82c8.616a9d38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]