NodeRed & MQTT/NodeRed/NodeRed.txt
[{"id":"4acc3b4a.88fdf4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"170a164a.15ff8a","type":"mqtt in","z":"4acc3b4a.88fdf4","name":"","topic":"esp/bme680/temperature","qos":"1","datatype":"auto","broker":"e527a9d8.00fb78","x":910,"y":200,"wires":[["42bb9521.d1ebbc"]]},{"id":"42bb9521.d1ebbc","type":"ui_gauge","z":"4acc3b4a.88fdf4","name":"","group":"3876cefd.0bd772","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#f7df09","#ca3838"],"seg1":"","seg2":"","x":1130,"y":200,"wires":[]},{"id":"a1e848f3.cd99a8","type":"mqtt in","z":"4acc3b4a.88fdf4","name":"","topic":"esp/bme680/humidity","qos":"1","datatype":"auto","broker":"e527a9d8.00fb78","x":900,"y":260,"wires":[["958322ee.0b9a5"]]},{"id":"958322ee.0b9a5","type":"ui_gauge","z":"4acc3b4a.88fdf4","name":"","group":"3876cefd.0bd772","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"30","max":"100","colors":["#53a4e6","#1d78a9","#4e38c9"],"seg1":"","seg2":"","x":1120,"y":260,"wires":[]},{"id":"ff7f9996.2a5398","type":"mqtt in","z":"4acc3b4a.88fdf4","name":"","topic":"esp/bme680/pressure","qos":"1","datatype":"auto","broker":"e527a9d8.00fb78","x":900,"y":320,"wires":[["7507416c.24d13"]]},{"id":"3fb454ab.5200cc","type":"mqtt in","z":"4acc3b4a.88fdf4","name":"","topic":"esp/bme680/gas","qos":"1","datatype":"auto","broker":"e527a9d8.00fb78","x":880,"y":380,"wires":[["f2104f71.54ef9","5eec6af9.6a4294"]]},{"id":"7507416c.24d13","type":"ui_text","z":"4acc3b4a.88fdf4","group":"3876cefd.0bd772","order":2,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"f2104f71.54ef9","type":"ui_text","z":"4acc3b4a.88fdf4","group":"3876cefd.0bd772","order":3,"width":0,"height":0,"name":"","label":"Gas","format":"{{msg.payload}} KOhm","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"5eec6af9.6a4294","type":"ui_chart","z":"4acc3b4a.88fdf4","name":"","group":"3876cefd.0bd772","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1100,"y":480,"wires":[[]]},{"id":"d854451b.7807d8","type":"ui_button","z":"4acc3b4a.88fdf4","name":"","group":"3876cefd.0bd772","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":540,"wires":[["d8d31a1.c8a19e8"]]},{"id":"d8d31a1.c8a19e8","type":"mqtt out","z":"4acc3b4a.88fdf4","name":"","topic":"esp/bme680/button1","qos":"","retain":"","broker":"9c87fa77.2389a8","x":1140,"y":540,"wires":[]},{"id":"e527a9d8.00fb78","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3876cefd.0bd772","type":"ui_group","z":"","name":"BME680","tab":"bea45ae.6aadfa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c87fa77.2389a8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bea45ae.6aadfa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":5,"disabled":false,"hidden":false}]