NodeRed & MQTT/NodeRed/NodeRed2.txt
[
    {
        "id": "6c8fa87c.19cda8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7ac1fd1.3f386",
        "type": "mqtt in",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 910,
        "y": 200,
        "wires": [
            [
                "6a335d1c.5d3454",
                "2e8557ed.0620e8"
            ]
        ]
    },
    {
        "id": "6a335d1c.5d3454",
        "type": "ui_gauge",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "639c29dc.a2bf58",
        "type": "mqtt in",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/humidity",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "8c1ce90b.db1518"
            ]
        ]
    },
    {
        "id": "8c1ce90b.db1518",
        "type": "ui_gauge",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#53a4e6",
            "#1d78a9",
            "#4e38c9"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "29913db.30b0bc2",
        "type": "mqtt in",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/pressure",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 900,
        "y": 320,
        "wires": [
            [
                "cede5d0.359c9a"
            ]
        ]
    },
    {
        "id": "e9d5c6ce.b720e8",
        "type": "mqtt in",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/gas",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 800,
        "y": 420,
        "wires": [
            [
                "a5b1f481.6d9838",
                "a22a947.f3b6668"
            ]
        ]
    },
    {
        "id": "cede5d0.359c9a",
        "type": "ui_text",
        "z": "6c8fa87c.19cda8",
        "group": "f43e8cf.a6a437",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "a5b1f481.6d9838",
        "type": "ui_text",
        "z": "6c8fa87c.19cda8",
        "group": "f43e8cf.a6a437",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gas",
        "format": "{{msg.payload}} KOhm",
        "layout": "row-spread",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "a22a947.f3b6668",
        "type": "ui_chart",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 21,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6e37415f.14f46",
        "type": "ping",
        "z": "6c8fa87c.19cda8",
        "mode": "timed",
        "name": "Pingi",
        "host": "192.168.1.10",
        "timer": "20",
        "inputs": 0,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "6f1b7353.f1c62c"
            ]
        ]
    },
    {
        "id": "6f1b7353.f1c62c",
        "type": "ui_text",
        "z": "6c8fa87c.19cda8",
        "group": "f43e8cf.a6a437",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3e799e5.a36f28",
        "type": "ui_text",
        "z": "6c8fa87c.19cda8",
        "group": "f43e8cf.a6a437",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b78f16f.dd323e",
        "type": "mqtt in",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/log",
        "qos": "1",
        "datatype": "auto",
        "broker": "e527a9d8.00fb78",
        "x": 840,
        "y": 660,
        "wires": [
            [
                "f3e799e5.a36f28"
            ]
        ]
    },
    {
        "id": "2e8557ed.0620e8",
        "type": "debug",
        "z": "6c8fa87c.19cda8",
        "name": "debug mode",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 60,
        "wires": []
    },
    {
        "id": "d5a4d5a0.dd3ec8",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg1",
        "topic": "",
        "payload": "{\"msg\":\"Message one, bla bla\",\"confirm\":1}",
        "payloadType": "json",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 430,
        "y": 940,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "d377ded.1fcc82",
        "type": "function",
        "z": "6c8fa87c.19cda8",
        "name": "add ts",
        "func": "js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "d3516a.e7913e98"
            ]
        ]
    },
    {
        "id": "2aae59e5.508d66",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg2",
        "topic": "",
        "payload": "{\"msg\":\"Message two, blip bloep\",\"confirm\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 980,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "619f108c.aaaf7",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg3",
        "topic": "",
        "payload": "{\"msg\":\"Message three, cat fish\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "736ace71.43da6",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg4",
        "topic": "",
        "payload": "{\"msg\":\"Message four, send it !\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "84c8ed2c.f5ac7",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg5",
        "topic": "",
        "payload": "{\"msg\":\"Message five, my crazy\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1100,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "fe173613.6cc638",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg6",
        "topic": "",
        "payload": "{\"msg\":\"Message six, whoop whoop !\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "c434cf7e.121d5",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg7",
        "topic": "",
        "payload": "{\"msg\":\"Message seven\",\"confirm\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "f428e99c.21f2b8",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg8",
        "topic": "",
        "payload": "{\"msg\":\"Message 8, whats up monkey?\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "fa667394.fa341",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg9",
        "topic": "",
        "payload": "{\"msg\":\"Message 9, fly away\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "d31397ba.e701b8",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg10",
        "topic": "",
        "payload": "{\"msg\":\"Message 10, diving for gold\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "fa772da6.0b42d",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg11",
        "topic": "",
        "payload": "{\"msg\":\"Message 11, flying fish\",\"confirm\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "6367f894.a34408",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg12",
        "topic": "",
        "payload": "{\"msg\":\"Message 12, octopus\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "12dec518.89da9b",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg13",
        "topic": "",
        "payload": "{\"msg\":\"Message 13, swim away\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1420,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "a04ac1a4.473f3",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg14",
        "topic": "",
        "payload": "{\"msg\":\"Message 14, warra warra\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1460,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "adc5e83e.f5a5e8",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "msg15",
        "topic": "",
        "payload": "{\"msg\":\"Message 15, fish paste\",\"confirm\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "d377ded.1fcc82"
            ]
        ]
    },
    {
        "id": "8aa67f0e.c7fa7",
        "type": "template",
        "z": "6c8fa87c.19cda8",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Message</th>\n        <th>Confirm</th>\n        <th>Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td>            \n            <td>{{confirm}}</td>\n            <td>{{timedate}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "3e814634.8703da"
            ]
        ]
    },
    {
        "id": "3e814634.8703da",
        "type": "ui_template",
        "z": "6c8fa87c.19cda8",
        "group": "f43e8cf.a6a437",
        "name": "Scrolling Messages",
        "order": 23,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1270,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "d3516a.e7913e98",
        "type": "function",
        "z": "6c8fa87c.19cda8",
        "name": "Cr/Upd msg_events",
        "func": "var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "a264d174.463ae"
            ]
        ]
    },
    {
        "id": "1efb0e42.331152",
        "type": "function",
        "z": "6c8fa87c.19cda8",
        "name": "zap msg_events flow context",
        "func": "var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "bf2d0b42.4b89e8",
        "type": "inject",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "1efb0e42.331152"
            ]
        ]
    },
    {
        "id": "a4bd980b.32ddf8",
        "type": "function",
        "z": "6c8fa87c.19cda8",
        "name": "topic & 10",
        "func": "var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'The Last Ten Messages :';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1160,
        "wires": [
            [
                "8aa67f0e.c7fa7"
            ]
        ]
    },
    {
        "id": "a264d174.463ae",
        "type": "change",
        "z": "6c8fa87c.19cda8",
        "name": "sort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1160,
        "wires": [
            [
                "a49e1d44.ea10d",
                "a4bd980b.32ddf8"
            ]
        ]
    },
    {
        "id": "a49e1d44.ea10d",
        "type": "debug",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1dd978c5.ea8eb7",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "button 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "15357e74.d11232"
            ]
        ]
    },
    {
        "id": "15357e74.d11232",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button1",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "d860cba1.4131f8",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "button 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "fd49bb7e.20e778"
            ]
        ]
    },
    {
        "id": "4f05f305.513a9c",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "24ed007c.c5963"
            ]
        ]
    },
    {
        "id": "2a60a57a.e14c4a",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "65f55979.3d27e8"
            ]
        ]
    },
    {
        "id": "9b83b7fe.3222b8",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "4254b807.572e68"
            ]
        ]
    },
    {
        "id": "54c4edca.fa8a44",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "a975851d.ff79b8"
            ]
        ]
    },
    {
        "id": "a61774d2.fa7b28",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "caa3a643.3b3a18"
            ]
        ]
    },
    {
        "id": "e451f62d.1fdae8",
        "type": "ui_button",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "group": "f43e8cf.a6a437",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "56adece.742db14"
            ]
        ]
    },
    {
        "id": "fd49bb7e.20e778",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button2",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "24ed007c.c5963",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button3",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "65f55979.3d27e8",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button4",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "4254b807.572e68",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button5",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "a975851d.ff79b8",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button6",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "caa3a643.3b3a18",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button7",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "56adece.742db14",
        "type": "mqtt out",
        "z": "6c8fa87c.19cda8",
        "name": "",
        "topic": "esp/bme680/button8",
        "qos": "",
        "retain": "",
        "broker": "9c87fa77.2389a8",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "e527a9d8.00fb78",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f43e8cf.a6a437",
        "type": "ui_group",
        "z": "",
        "name": "BME680",
        "tab": "7c82c8.616a9d38",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "9c87fa77.2389a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c82c8.616a9d38",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]